figure {
    position:relative;
    display:inline-flex;
    margin-top:1em;
}
figcaption {
    position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
    font-size:1.5em;
}
figure:not(.unacquired) figcaption {display:none;}
figure img {width:6em;}
figure.unacquired img,figure.unacquired~* {
    filter:brightness(.6);
    pointer-events:none;
}
img {filter:drop-shadow(0 0 0.5em #00000088);}

@keyframes highlight {to {opacity:0;}}
ul {
    padding:.5em;

    li.checked {--color:chartreuse;}
    li:not(.checked) {color:silver;}
    li.checked prop-icon {
        &::before,&::after {
            position:absolute; right:100%;
        }
    }
    li.checked prop-icon::before {
        content:'▶️';
        animation:highlight 2s forwards;
    }
    &:is(.prop,.value) li.checked prop-icon::after {
        content:'⬜';
        animation:none;
    }
    &:is(.prop,.value) li:not(.checked) {pointer-events:none;}

    prop-icon {vertical-align:-.15em;}
    output {
        display:inline-block; width:3em;
        color:var(--color);
        text-align:center;
    }
}
ul label {
    display:inline-block;
    width:7.5em;
    position:relative;
    margin:.1em 1.5em;

    &::before,&::after {
        position:absolute; top:50%; transform:translateY(-50%);
        font-size:.8em;
    }
    &::before {content:attr(data-min); right:100%;}
    &::after {content:attr(data-max); left:100%;}
    input[type=range] {
        appearance:none;
        height:.5em;
        background:linear-gradient(to right,    
            gray calc(var(--standard,0)*100% - 1%),
            var(--fg) calc(var(--standard,0)*100% - 1%) calc(var(--standard,0)*100% + 1%),
            gray calc(var(--standard,0)*100% + 1%));
        border-radius:9em;
        position:relative;
        font-size:1em;
        pointer-events:none;

        &::-webkit-slider-runnable-track {
            max-width:calc(var(--realized,0)*100%);
            transition:max-width .5s;
            height:100%;
            background:silver; opacity:.8;
            border-radius:9em;
        }
        &::-webkit-slider-thumb {
            appearance:none;
            position:absolute; left:calc(var(--value,0)*100%); bottom:100%; transform:translateX(-50%);
            transition:left .5s;
            border-style:solid;
            border-width:1em .5em 0 .5em; border-color:var(--color,silver) transparent transparent transparent;
            font-size:.5em;
        }
    }
}

menu {
    display:flex; gap:1em; flex-wrap:wrap; justify-content: space-between;
    max-width:20em;
    margin:auto; padding:.5em;

    :is(button,label) {
        border:.15em solid; border-radius:.5em;
        text-align:left;
        display:inline-flex; align-items:center; 
        position:relative;
        padding-right:.5em;
        background:steelblue;

        &::after {
            position:absolute; right:.2em; top:0;
        }
        .disabled &::after {content:'⨯';}
        &[title]::after {content:'-'attr(title);}
    }
    span {width:3.5em;}
    ul.prop+& li:has(#value),
    ul.value+& li:has(#prop),
    .disabled {
        pointer-events:none;
        filter:saturate(0) brightness(.7);
    }
    label:has(input:not(:checked)),li:nth-child(-n+2) {
        filter:saturate(0) brightness(.7);
    }
    li:nth-child(-n+2) {
        pointer-events:none;
    }
    img,gc-item {
        height:4em;
        margin-right:.2em;
    }
    li:last-child label::before {
        content:'➕';
        position:absolute; right:105%;
        background:var(--fg); border-radius:9em;
        width:1.5em; height:1.5em;
        line-height:1.6em; text-align:center;
    }
}
